@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: #e6e6ec !important;
  background-image: linear-gradient(#e6e6ec, #b7b6cb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif !important;
  font-size: 13px !important;
  color: #676482 !important;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; }

.title, #links {
  display: none; }

#contents {
  position: fixed;
  left: 0;
  right: 0;
  top: -90%;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  height: 90%;
  background: white;
  border-radius: 10px;
  transition: top 0.3s; }
#contents div {
  position: relative; }

#contents.pulldown {
  top: 0;
  bottom: auto; }

#contents:after {
  content: "====";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer; }

.gyazz-ac, .gyazz-ac > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.gyazz-ac {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif; }
.gyazz-ac .ac-page {
  display: none;
  position: relative;
  margin: 3% auto 0;
  padding: 2% 5%;
  border: 1px solid #333333;
  width: 90%;
  min-height: 90%;
  text-align: center;
  font-size: 28px; }
@media print {
  .gyazz-ac .ac-page {
    display: block;
    margin: 3% auto 30%; } }
.gyazz-ac .ac-page:last-child {
  margin: 0 auto 3%; }
.gyazz-ac .ac-page.active {
  display: block; }
.gyazz-ac .ac-title {
  margin-top: 0;
  width: 100%;
  font-size: 48px;
  border: none;
  text-align: center; }
.gyazz-ac .ac-title p {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  margin: auto 0;
  padding: 0.5em;
  border: 1px solid #aaaaaa;
  background-color: #e0e0e0;
  font-weight: bold;
  vertical-align: middle; }
.gyazz-ac .ac-single .ac-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 1em; }
.gyazz-ac .ac-line {
  text-align: left; }
.gyazz-ac .ac-listedit0 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px; }
.gyazz-ac .ac-listedit1 {
  margin-top: 10px;
  font-size: 36px; }
.gyazz-ac .ac-listedit1:before {
  content: "■";
  color: #00b000; }
.gyazz-ac .ac-listedit2 {
  text-indent: 2em; }
.gyazz-ac .ac-listedit2:before {
  content: "■";
  color: #00b000; }
.gyazz-ac .ac-listedit3 {
  text-indent: 3em; }
.gyazz-ac .ac-listedit3:before {
  content: "■";
  color: #00b000; }
.gyazz-ac .ac-listedit4 {
  text-indent: 4em; }
.gyazz-ac .ac-listedit4:before {
  content: "■";
  color: #00b000; }
.gyazz-ac .ac-listedit5 {
  text-indent: 5em; }
.gyazz-ac .ac-listedit5:before {
  content: "■";
  color: #00b000; }
.gyazz-ac .ac-listedit6 {
  text-indent: 6em; }
.gyazz-ac .ac-listedit6:before {
  content: "■";
  color: #00b000; }
.gyazz-ac span {
  position: relative !important;
  left: auto !important; }

.progress-bar {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1%;
  height: 3px;
  background: red;
  transition: width 0.1s; }
